* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

div {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.criada {
    width: 100px;
    height: 100px;
   background-color: green; 
}